*{
    margin: 0;
    padding: 0;
}
.top_menu_with_pic{
    margin-top: 40px;
    margin-bottom: 82.71px;
}



.top_content{
    margin-top: 162.71px;
    margin-bottom: 162.45px;
}

.title{
    margin-bottom: 17px;

}

.top_buttons{
    margin-top: 37px;
}

.top_logos{
    margin-top: 162.45px;
}
